* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    font-family: 'Qwitcher Grypen', cursive;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rebeccapurple;
    padding: 30px;
    border-style: solid;
    border-color: red green blue yellow;
    border-radius: 20px;
    animation-duration: 5s;
    animation-name: pulse;
}

img {
    width: 20%;
    animation-duration: 2s;
    animation-name: foguete;
}

h1 {
    font-size: 5rem;
    animation-duration: 5s;
    animation-name: text;
}

@keyframes foguete {
    0% {
        opacity: 0;
        position: relative;
        bottom: 100px;
    }

    10% {
        bottom: 90px;
    }

    20% {
        bottom: 80px;
    }

    30% {
        bottom: 70px;
    }

    40% {
        bottom: 60px;
    }

    50% {
        bottom: 50px;
    }

    60% {
        bottom: 40px;
    }

    70% {
        bottom: 30px;
    }

    80% {
        bottom: 20px;
    }

    90% {
        bottom: 10px;
    }

    100% {
        opacity: 100%;
        position: relative;
        bottom: 0px;
    }
}

@keyframes text {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}


